fastapi
uvicorn
pydantic
pydantic-settings
requests
python-multipart
paramiko
PyQt6
# TTS
piper-tts
#piper-phonemize
TTS==0.22.0
transformers==4.35.2
torch
pydub
onnxruntime==1.16.3
# Vision
ultralytics
opencv-contrib-python
mediapipe==0.10.14
deepface
numpy<2
face_recognition
